@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import url(./normalize.css);
.main {
    display: flex;
    justify-content: space-between;
    height: 50px;
    flex-wrap: nowrap;
    margin-left: 135px;
    margin-right: 135px;
}
.main__search {
    position: relative;
    margin-top: 15px;
}
.main__search form {
    width: 481px;
    height: 32px;
}
.main__search input {
    width: 440px;
    height: 32px;
   background-color: #F3F3F3;
   border-radius: 8px;
   font-size: 12px;
   line-height: 14px;
   border: none;
   font-family: 'Roboto', sans-serif;
   outline: none;
   padding-left: 20px;
}
.main__search button {
    height: 32px;
    width: 41px;
    background: #253F33;
    border-radius: 0px 8px 8px 0px;
    position: absolute;
    border: none;
    outline: none;
    left: 430px;
}
.main__search button img:hover {
    transform: scale(1.1);
}
.phone__text {
    height: 32px;
    position: relative;
    width: 180px;
}
.phone__text img {
    position: absolute;
    left: 0px;
    top: 21px;
}
.phone__text h6 {
    position: absolute;
    left: 30px;
    top: 25px;
    font-family: "Roboto";
    font-size: 18px;
}
.main__logo {
    margin-top: 10px;
}

.main__phone img:hover {
    transform: scale(1.1);
}
.personal {
    margin-top: 21px;
}
.personal img:hover {
    transform: scale(1.1);
}
#per2 {
    margin-left: 30px;
    margin-right: 30px;
}
.navigation {
    outline: none;
    border: none;
    margin-top: 10px;
    margin-left: 135px;
    margin-right: 135px;
    background-color: #F9F9F9;
    background-size: cover;
    border-radius: 24px 24px 0px 0px;
}
ul.nav.nav-tabs {
    outline: none;
    border: none;
    display: flex;
    justify-content: space-between;
    font-family: Roboto;
    font-size: 18px;
    margin-left: 20px;
}
.nav-tabs .nav-item.show .nav-link {
    border: none;
    outline: none;
    background-color:#E8E8E8;
}
ul.nav.nav-tabs a {
    text-decoration: none;
    font-family: Roboto;
    color: rgba(0, 0, 0, 0.6);
}
ul.nav.nav-tabs a:hover {
    outline: none;
    border: none;
}
a.nav-link.dropdown-toggle::after {
    visibility: hidden;
}
.dropdown-menu a:hover {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    background: #F9F9F9;
    border-radius: 25px;
}
.dropdown-menu a:active {
    background-color: #E8E8E8;    
}
.menu-item {
    font-size: 12px;
    font-family: Roboto;
    color: rgba(0, 0, 0, 0.6);
    margin-top: 20px;
}
#dropdown-menu-cataloge,
 #dropdown-menu-prom, 
 #dropdown-menu-pc, 
 #dropdown-menu-gamer, 
 #dropdown-menu-smart, 
 #dropdown-menu-pros, 
 #dropdown-menu-keyboard {
    outline: none;
    border: none;
    background-color: transparent;  
    margin-left: 150px; 
}
.wide_menu {
    display: flex;
    flex-direction: row;
    background: #E8E8E8;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 0px 0px 25px 25px;
    margin-top: -7px;
    height: 350px;
}
.slider-wrap {
    display: block;
   margin-left: 135px;
   margin-right: 135px;
    height: 580px;
    background: url(../img/Rectangle\ 116.jpg);
    background-size: cover;
    position: relative;
}
.slider-wrap a {
    text-decoration: none;
    font-family: Roboto;
    color: rgba(0, 0, 0, 0.5);
    font-size: 16px;
    position: absolute;
    top: 438px;
    left: 81px;
    border: 1px solid rgba(68, 89, 79, 0.5);
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 27px;
    padding: 16px 14px;
}
.slider-wrap a:hover {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.5);
}
.slider-wrap a:nth-of-type(2) {
    left: 250px;
    background-color: #44594F;
    padding: 16px 49px;
    color: #ffffff;
}
.carousel-control-prev-icon {
    position: absolute;
    top: 50%;
    left: 145px;
    z-index: 1;
}
.carousel-control-next-icon {
    position: absolute;
    top: 50%;
    right: 185px;
    z-index: 1;
}
.filter {
    margin-left: 135px;
    float: left;
    margin-right: 28px;
}
.filter a {
    text-decoration: none;
    font-family: Roboto;
    font-size: 16px;
    color:#3E6762;
}
#page {
    color: #44594F;
}
.goods {
    display: block;
    width: 270px;
    height: 550px;
    border: 1px solid #EBEBEB;
    box-sizing: border-box;
    border-radius: 10px;
    line-height: 21px;
    margin-top: 14px;
}
.goods h5, .brands h5, .color h5, .screen h5 {
        font-family: Roboto;
        font-weight: bold;
        font-size: 24px;
        color: #3E6762;
        margin-left: 45px;
        margin-top: 21px;
}
.screen h5 {
    margin-left: 25px;
}
.goods>div {
    margin-left: 45px;
    margin-top: 21px;
}
.goods a:active {
    color: #3E6762;
    font-weight: bold;
}
.brands, .color, .screen {
    width: 270px;
    height: 326px;
    border: 1px solid #EBEBEB;
    box-sizing: border-box;
    border-radius: 10px;
    margin-top: 17px;
}
.color {
    width: 269px;
    height: 144px;
}
.color>div {
    display: inline-block;
    margin-top: 20px;
    margin-left: 30px;
}
.screen {
    width: 269px;
    height: 297px;
}
.screen div, .brands>div {
    margin-left: 50px;
    margin-top: 20px;
}
.goods__active {
    font-weight: bold;
    color: #3E6762;
}
.brands select{
    height: 326px;
}
.color {
        height: 144px;
} 
.diagonal select {
    height: 297px;
}
.color p, .color img:nth-of-type(1) {
    margin-left: 45px;
}
.color img {
    margin-left: 15px;
}
.filter__goods button {
    width: 149px;
    height: 40px;
    background: #44594F;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 27px;
    color: #ffffff;
    font-family: Roboto;
    font-size: 16px;
    margin-left: 60px;
}
.field {
    width: 900px;
    height: 1500px;
    display: grid;
    grid-template-columns: repeat(14, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-gap: 20px;
    margin-top: 130px;
}
.iphone {
    border: 1px solid #EBEBEB;
    box-sizing: border-box;
    border-radius: 10px;
    background-color: #ffffff;
    z-index: 1;
    width: 250px;
    height: 309px;
    position: relative;
}
.field__h {
    font-family: Roboto;
    font-weight: bold;
    font-size: 24px;
    color: rgb(174, 214, 210);
    position: absolute;
    top: 700px;
    left: 600px;
}
.field__sort {
    position: absolute;
    top: 780px;
    left: 730px;
}
.image {
    position: absolute;
    top: 35px;
    left: 45px;
}
#iphone1 {
    grid-column: 1 / 5;
    grid-row: 1 / 2;
}
#iphone1 p {
    font-size: 14px;
}
#iphone2 {
    grid-column: 5 / 9;
    grid-row: 1 / 2;
}
#iphone3 {
    grid-column: 9 / 13;
    grid-row: 1 / 2;
}
#iphone4 {
    grid-column: 1 / 5;
    grid-row: 2 / 3;
}
#iphone5 {
    grid-column: 5 / 9;
    grid-row: 2 / 3;
}
#iphone6 {
    grid-column: 9 / 13;
    grid-row: 2 / 3;
}
#iphone7 {
    grid-column: 1 / 5;
    grid-row: 3 / 4;
}
#iphone8 {
    grid-column: 5 / 9;
    grid-row: 3 / 4;
}
#iphone9 {
    grid-column: 9 / 13;
    grid-row: 3 / 4;
}
#iphone10 {
    grid-column: 1 / 5;
    grid-row: 4 / 5;
}
#iphone11 {
    grid-column: 5 / 9;
    grid-row: 4 / 5;
}
#iphone12 {
    grid-column: 9 / 13;
    grid-row: 4 / 5;
}
#iphone13 {
    grid-column: 1 / 5;
    grid-row: 5 / 6;
}
#iphone14 {
    grid-column: 5 / 9;
    grid-row: 5 / 6;
}
#iphone15 {
    grid-column: 9 / 13;
    grid-row: 5 / 6;
}
.iphone h5 {
    font-family: Roboto;
    font-weight: bold;
    font-size: 20px;
    color: #666666;
    text-align: center;
    position: absolute;
    top: 12px;
    left: 88px;
}

.iphone p {
    font-family: Roboto;
    font-weight: bold;
    font-size: 30px;
    color: #666666;
    text-align: center;  
    position: absolute;  
    top:248px;
    left: 85px;
}
.hidden_field2>a {
    font-family: Roboto;
    text-decoration: none;
    font-family: Roboto;
    color: #ffffff;
    font-size: 16px;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 27px;
    padding: 6px 24px;
    background-color: #44594F;
    position: absolute;
}
.hidden_field {
    font-family: Roboto;
    font-weight: bold;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.65);
    text-align: center;
    visibility: hidden;
}
.hidden_field2 {
    visibility: hidden;
}
.field__sort select {
    border: none;
    outline: none;
    overflow: hidden;
    border: none;
    background: #EBEBEB;
    border-radius: 7.5px;
}
.field__form {
    color: #666666;
    font-size: 14px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: transparent;   
}
#sort {
    font-family: Roboto;
    color: #666666;
    outline: none;
    border-radius: 7.5px;
    font-size: 10px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: transparent;
}
.field__show {
    margin-left: 200px;
    margin-top: -32px;
    font-family: Roboto;
    color: #666666;
    font-size: 14px;
}
.field__show a {
    text-decoration: none;
    font-family: Roboto;
    color: #666666;
    font-size: 14px;
}
label {
	cursor: pointer;
	position: relative;
	margin-right: 15px;
}
input[type=radio] {
	display: none;
}
label:before {
    content: "";
    width: 25px;
    height: 25px;
    background: #FFFFFF;
    border: 1px solid #EBEBEB;
    box-sizing: border-box;
    border-radius: 10px;
	position: absolute;
	left: 0px;
    top: 0px;
}
 
.radio label:before {
	border-radius: 5px;
}
 
input[type=radio]:checked + label:before {
    content: "\2022";
    color:  #3E6762;
    font-size: 30px;
    text-align: center;
    line-height: 18px;
}
 label>span {
     position: absolute;
     left: 40px;
     top: 0px;
     width: 100px;
 }
.color__red>label::before {
    background: #B01212;
}
.color__yellow>label::before {
    background: #E7A33D;
}
.color__black>label::before {
    background: #151515;
}
.color__white>label::before {
    background: #FFFFFF;
    border: 1px solid #000000;
}
.color__red input[type=radio]:checked + label:before,
.color__yellow input[type=radio]:checked + label:before, 
.color__black input[type=radio]:checked + label:before {
    content: "\2022";
    color: #EBEBEB;
    font-size: 30px;
    text-align: center;
    line-height: 18px;
}
.color__white input[type=radio]:checked + label:before {
    content: "\2022";
    color: #000000;
    font-size: 30px;
    text-align: center;
    line-height: 18px;
}
.mirrors {
    display: flex;
    margin-top: 200px;
    margin-left: 135px;
    margin-right: 135px;
    justify-content: space-between;
}
.mirrors__item1, .mirrors__item2, .mirrors__item3, .mirrors__item4 {
    background: url(../img/Rectangle\ 134.png) no-repeat;
    background-size: cover;
    width: 268px;
    height: 177px;
}
.mirrors__item2 {
    background: url(../img/Rectangle\ 136.png) no-repeat;
}
.mirrors__item3 {
    background: url(../img/Rectangle\ 138.png) no-repeat;
}
.mirrors__item4 {
    background: url(../img/Rectangle\ 135.png) no-repeat;
}
.mirrors__item1 img{
    margin-left: 83px;
    margin-right: 83px;
    margin-top: 22px;
}
.mirrors__item2 img {
    margin-left: 79px;
    margin-right: 79px;
    margin-top: -20px;
}
.mirrors__item3 img {
    margin-top: 22px;
    margin-left: 65px;
}
.mirrors__item4 img {
    margin-left: 53px;
    margin-top: 29px;
}
.mirrors__item1 h6, .mirrors__item2 h6, .mirrors__item3 h6, .mirrors__item4 h6 {
    font-family: Roboto;
    font-weight: bold;
    font-size: 18px;
    color: #355950;
    text-align: center;
}
.mirrors__item1 h6 {
    margin-top: 13px;
}
.mirrors__item2 h6 {
    font-size: 24px;
    margin-top: 17px;
}
.mirrors__item4 h6 {
    margin-top: 18px;
}
.slider-wrap1 {
    margin-left: 135px;
    margin-right: 15px;
    margin-top: 150px;
    background: url(../img/Rectangle\ 76.png) no-repeat;   
    height: 503px;
    position: relative;
}
.slider-wrap1 h2 {
    font-family: Roboto;
    font-weight: bold;
    font-size: 24px;
    color: #FFFFFF;
    position: absolute;
    left: 456px;
    top: 60px;
}
.slider-wrap1 p {
    font-family: Roboto;
    font-size: 20px;
    line-height: 23px;
    color: #FFFFFF;
    position: absolute;
    left: 128px;
    right: 128px;
    top: 194px;
}
.payment {
    margin-left: 135px;
    margin-right: 135px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.payment__icon1 {
    margin-top: 67px;
}
.payment__icon2 {
    margin-top: 77px;
}
.payment__icon3 {
    margin-top: 100px;
}
.payment__icon4 {
    margin-top: 99px;
}
.payment__icon5 {
    margin-top: 85px;
}
.payment__icon6 {
    margin-top: 95px;
}
.payment__icon7 {
    margin-top: 63px;
}
footer {
    width: 100%;
    height: 460px;
    margin-top: 82px;
    background-color: #44594F;
    border-radius: 30px 30px 0px 0px;
}
.footer__ancors {
    display: flex;
    flex-direction: row;
    margin-left: 107px;
    margin-right: 137px;
    justify-content: space-between;
}
.footer__social img:hover, .footer__pay img:hover {
    transform: scale(1.1);
}
.footer__ancors ul {
    margin-top: 33px;
    font-family: Roboto;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    color: #FFFFFF;
}
.footer__ancors ul>li {
    list-style-type: none;
    font-family: Roboto;
    font-weight: normal;
    font-size: 18px;
    margin-top: 35px;
}
.footer__ancors a {
    color: #ffffff;
}
.footer__ancors a:hover {
    text-decoration: none;
}
footer h3 {
    font-family: Roboto;
    font-size: 18px;
    color: #ffff;
}
footer h3:nth-of-type(2) {
    font-size: 16px;
}
.footer__social {
    margin-left: 167px;
    margin-top: -44px;
}
.footer__pay {
    margin-left: 463px;
    margin-top: -54px;
}