@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import url(./normalize.css);
.main {
    display: flex;
    justify-content: space-between;
    height: 50px;
    flex-wrap: wrap;
    margin-left: 135px;
    margin-right: 135px;
}
.main__search {
    position: relative;
    margin-top: 15px;
}
.main__search form {
    width: 481px;
    height: 32px;
}
.main__search input {
    width: 440px;
    height: 32px;
   background-color: #F3F3F3;
   border-radius: 8px;
   font-size: 12px;
   line-height: 14px;
   border: none;
   font-family: 'Roboto', sans-serif;
   outline: none;
   padding-left: 20px;
}
.main__search button {
    height: 32px;
    width: 41px;
    background: #253F33;
    border-radius: 0px 8px 8px 0px;
    position: absolute;
    border: none;
    outline: none;
    left: 430px;
}
.main__phone {
    height: 32px;
    margin-top: 21px;
    font-family: "Roboto";
    font-size: 18px;
}
.personal {
    margin-top: 21px;
}
#per2 {
    margin-left: 30px;
    margin-right: 30px;
}
.navigation {
    outline: none;
    border: none;
    margin-top: 10px;
    margin-left: 135px;
    margin-right: 135px;
    background-color: #F9F9F9;
    background-size: cover;
    border-radius: 24px 24px 0px 0px;
}
ul.nav.nav-tabs {
    outline: none;
    border: none;
    display: flex;
    justify-content: space-between;
    font-family: Roboto;
    font-size: 18px;
    margin-left: 20px;
}
.nav-tabs .nav-item.show .nav-link {
    border: none;
    outline: none;
    background-color:#E8E8E8;
}
ul.nav.nav-tabs a {
    text-decoration: none;
    font-family: Roboto;
    color: rgba(0, 0, 0, 0.6);
}
ul.nav.nav-tabs a:hover {
    outline: none;
    border: none;
}
a.nav-link.dropdown-toggle::after {
    visibility: hidden;
}
.dropdown-menu a:hover {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    background: #F9F9F9;
    border-radius: 25px;
}
.dropdown-menu a:active {
    background-color: #E8E8E8;    
}
.menu-item {
    font-size: 12px;
    font-family: Roboto;
    color: rgba(0, 0, 0, 0.6);
    margin-top: 20px;
}
#dropdown-menu-cataloge, #dropdown-menu-prom, #dropdown-menu-pc, #dropdown-menu-gamer, #dropdown-menu-smart, #dropdown-menu-pros, #dropdown-menu-keyboard {
    outline: none;
    border: none;
    background-color: transparent;  
    margin-left: 150px; 
}
.wide_menu {
    display: flex;
    flex-direction: row;
    background: #E8E8E8;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 0px 0px 25px 25px;
    margin-top: -7px;
    height: 350px;
}
.slider-wrap {
    display: block;
   margin-left: 135px;
   margin-right: 135px;
    height: 580px;
    background: url(../img/Rectangle\ 116.jpg);
    background-size: cover;
    position: relative;
}
.slider-wrap a {
    text-decoration: none;
    font-family: Roboto;
    color: rgba(0, 0, 0, 0.5);
    font-size: 16px;
    position: absolute;
    top: 438px;
    left: 81px;
    border: 1px solid rgba(68, 89, 79, 0.5);
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 27px;
    padding: 16px 14px;
}
.slider-wrap a:hover {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.5);
}
.slider-wrap a:nth-of-type(2) {
    left: 250px;
    background-color: #44594F;
    padding: 16px 49px;
    color: #ffffff;
}
.carousel-control-prev-icon {
    position: absolute;
    top: 50%;
    left: 145px;
    z-index: 1;
}
.carousel-control-next-icon {
    position: absolute;
    top: 50%;
    right: 185px;
    z-index: 1;
}
.filter a {
    text-decoration: none;
    font-family: Roboto;
    font-size: 16px;
    color: #B0B0B0;
}
.filter {
    margin-left: 136px;
}
#page {
    color: #44594F;
}
.goods select, .brands select, .color select, .diagonal select{
    text-decoration: none;
    border: none;
    outline: none;
    overflow: hidden;
    font-family: Roboto;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.6);
}
.select-name {
    font-family: Roboto;
    font-weight: bold;
    font-size: 24px;
    color: #3E6762;
}
.goods select, .brands select, .color, .diagonal select {
    display: block;
    width: 270px;
    height: 681px;
    border: 1px solid #EBEBEB;
    box-sizing: border-box;
    border-radius: 10px;
} 
.goods option, .brands option, .diagonal option {
    margin-top: 33px;
    margin-left: 45px;
}
.filter__goods select option:checked {
    font-weight: bold;
    font-size: 18px;
    color: #3E6762;
}
.hidden_field {
    visibility: hidden;
}
.iphone:hover .hidden_field {
        visibility: visible;
}
.hidden_field2 {
    visibility: hidden;
}
.iphone:hover .hidden_field2 {
    visibility: visible;
}
.iphone:hover {
    transform: scale(1.2);
    height: 490px;
}
.brands select{
    height: 326px;
}
.color {
        height: 144px;
} 
.diagonal select {
    height: 297px;
}
.color p, .color img:nth-of-type(1) {
    margin-left: 45px;
}
.color img {
    margin-left: 15px;
}
.filter__goods button {
    width: 149px;
    height: 40px;
    background: #44594F;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 27px;
    color: #ffffff;
    font-family: Roboto;
    font-size: 16px;
    margin-left: 60px;
}
.field {
    width: 850px;
    position: absolute;
    top: 850px;
    left: 450px;
    display: grid;
    grid-template-columns: repeat(14, 1fr);
    grid-template-rows: repeat(4, 1fr);
}
.iphone {
    border: 1px solid #EBEBEB;
    box-sizing: border-box;
    border-radius: 10px;
    background-color: #ffffff;
    z-index: 1;
}
.field__h {
    font-family: Roboto;
    font-weight: bold;
    font-size: 24px;
    color: rgb(174, 214, 210);
    position: absolute;
    top: 700px;
    left: 600px;
    margin-bottom: 0px;
    margin-top: 0px;
}
.field__sort {
    position: absolute;
    top: 780px;
    left: 730px;
}
.image {
    background: url(../img/9876\ 14.png);
    width: 156px;
    height: 201px;
}
#iphone1 {
    grid-column: 1 / 5;
    grid-row: 1 / 3;
}
#iphone1 p {
    font-size: 14px;
}
#iphone2 {
    grid-column: 5 / 9;
    grid-row: 1 / 2;
}
#iphone3 {
    grid-column: 9 / 13;
    grid-row: 1 / 2;
}
#iphone4 {
    grid-column: 1 / 5;
    grid-row: 2 / 3;
}
#iphone5 {
    grid-column: 5 / 9;
    grid-row: 2 / 3;
}
#iphone6 {
    grid-column: 9 / 13;
    grid-row: 2 / 3;
}
#iphone7 {
    grid-column: 1 / 5;
    grid-row: 3 / 4;
}
#iphone8 {
    grid-column: 5 / 9;
    grid-row: 3 / 4;
}
#iphone9 {
    grid-column: 9 / 13;
    grid-row: 3 / 4;
}
#iphone10 {
    grid-column: 1 / 5;
    grid-row: 4 / 5;
}
#iphone11 {
    grid-column: 5 / 9;
    grid-row: 4 / 5;
}
#iphone12 {
    grid-column: 9 / 13;
    grid-row: 4 / 5;
}
.iphone h5 {
    font-family: Roboto;
    font-weight: bold;
    font-size: 24px;
    color: #666666;
    text-align: center;
}
.hidden_field {
    font-family: Roboto;
    font-weight: bold;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.65);
    text-align: center;
}
.iphone p {
    font-family: Roboto;
    font-weight: bold;
    font-size: 36px;
    color: #666666;
    text-align: center;
    margin-bottom: 10px;
    margin-top: 10px;
}
.hidden_field2>a {
    font-family: Roboto;
    text-decoration: none;
    font-family: Roboto;
    color: #ffffff;
    font-size: 16px;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 27px;
    padding: 6px 24px;
    background-color: #44594F;
}
.field__sort select {
    border: none;
    outline: none;
    overflow: hidden;
    border: none;
    background: #EBEBEB;
    border-radius: 7.5px;
}
.field__form {
    color: #666666;
    font-size: 14px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: transparent;   
}
#sort {
    font-family: Roboto;
    color: #666666;
    outline: none;
    border-radius: 7.5px;
    font-size: 10px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: transparent;
}
.field__show {
    margin-left: 200px;
    margin-top: -32px;
    font-family: Roboto;
    color: #666666;
    font-size: 14px;
}
.field__show a {
    text-decoration: none;
    font-family: Roboto;
    color: #666666;
    font-size: 14px;
}
#mirrors {
    position: absolute;
    top: 2750px;
    left: 137px;
}
.slider2 {
    position: absolute;
    left: 137px;
    top: 650px;
    width: 1130px;
    height: 503px;
    outline: none;
}
.slider2-slide {
    width: 100%;
    height: 100%;
    background: url(../img/Rectangle\ 76.png);
    background-size: cover;
}
.slider2 h2 {
    color: #ffffff;
    margin: 34px 400px 427px 400px;
    font-family: Roboto;
    font-weight: 36px;
}
#payment {
    position: absolute;
    left: 127px;
    top: 3500px;
    height: 100px;
    display: flex;
    justify-content: space-between;
    width: 100%;
}
